
<div id="main_nav"class="nav_inner">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF; position: fixed;;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/image/logo_c.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse !visible" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="searchInput search-card">
            <label for="pac-input2" class="searchLabel">
              <input
              id="pac-input2"
              type="text"
              placeholder="<%= __('gnb_search_warehouse') %>"
              class="border rounded h-full"
              />
              <button type="button" class="searchBtn"> 
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" height="28" width="28" fill="#cccccc">
                  <g>
                    <path d="M17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287a4.282 4.282 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474z"></path>
                  </g>
                </svg>
              </button>
            </label>
          </li>

          
          
          <li class="nav-item">
            <a class="nav-link" href="/search" style="font-size: 1.2rem;">
              <%= __('navbar_search_warehouse')%>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search" style="font-size: 1.2rem;">
              <%= __('navbar_warehouse')%>
            </a>
          </li>
            <% if( locals.role === 'user') { %>
              <li class="nav-item">
                <a class="nav-link" href="/mypage" style="font-size: 1.2rem;">
                  <!--%= __('navbar_my_warehouse')%-->
                  마이페이지
                </a>
              </li>
              <!--li class="nav-item">
                <a class="nav-link" href="/contract" style="font-size: 1.2rem;">
                  <%= __('navbar_my_contract')%>
                </a>
              </li-->
            <% } else if(locals.role === 'admin') { %>
              <li class="nav-item">
                <a class="nav-link" href="/warehouse" style="font-size: 1.2rem;">
                  <%= __('navbar_manage_warehouse')%>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contract" style="font-size: 1.2rem;">
                  <%= __('navbar_manage_contract')%>
                </a>
              </li>
            <% } %>
          
          <% if(locals.role) { %>
            <li class="nav-item">
              <a class="nav-link" href="/myinfo" style="font-size: 1.2rem;">
                <%= __('navbar_myinfo')%>
              </a>
            </li>
            <% } %>
          <% if( !locals.role ) { %>
          <li class="nav-item">
              <a id="signin" class="nav-link" href="/signin" style="color: rgba(124,19,154,1); font-size: 1.2rem;">
                <%= __('navbar_signin')%>
              </a>
          </li>
          <li class="nav-item">
              <a id="signup" class="nav-link" href="/signup" style="color: rgba(124,19,154,1); font-size: 1.2rem;">
                <%= __('signup_signup')%>
              </a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a id="signout" class="nav-link" style="color: rgba(124,19,154,1); font-size: 1.2rem; cursor: pointer;">
              <%= __('navbar_signout')%>
            </a>
          </li>
          <% } %>
          <li style="display:flex; vertical-align:center">
            <div class="btn-group">
              <button type="button" id="img_btn" data-bs-toggle="dropdown" aria-expanded="false"
                style="border: none; background: #FFF; font-size:1.125rem"><i class="fas fa-globe-asia fa-1x"></i></button>
              </button>
              <ul class="dropdown-menu" style="width: 4rem; min-width: 4rem">
                <li><a class="dropdown-item" href="/ko">kor</a></li>
                <li><a class="dropdown-item" href="/en">eng</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script>
$(document).ready(function () {
  const swalError = (text, callback) =>
    Swal.fire({
      icon: 'error',
      title: 'Fail',
      text: text,
    }).then(callback);
  $('#signout').on('click', () => {
    $.ajax({
      url: '/api/auth/signout',
      type: 'GET',
      datatype: 'application/json',
      success: (data) => {
        if (data.message == 'success') {
          window.location.href = '/';
        }
      },
      error: function (request, status, error) {
        Swal.fire({
          title: "<%= __('error')%>",
          html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
          icon: 'error',
        });
      },
    });
  });

  $('.searchBtn').on('click', () => {

    let keyword = $('#pac-input2').val();
    keyword =  encodeURI(encodeURIComponent(keyword));
    location.href="/search2/"+keyword;
    
   /* $.ajax({
      url: '/search',
      type: 'GET',
      datatype: 'application/json',
      data:{word:$('#pac-input').val()},
      success: (data) => {
        if (data.message == 'success') {
          window.location.href = '/';
        }
      },
      error: function (request, status, error) {
        Swal.fire({
          title: "<%= __('error')%>",
          html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
          icon: 'error',
        });
      },
    }); */
  });
});
</script>
