<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/signin.css" />
    <title>로그인</title>
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <div class="inner">
        <form
          id="sign-form"
          action="/api/auth/signin"
          method="post"
          onsubmit="return false"
        >
          <!-- <a class="logo" href="signin"><img src="/image/small_logo.png" /></a> -->
          <!-- <%= __('navbar_signin')%> -->
          <div class="textdiv" style="padding-top:50px;">
            <h1>
              <p class="main_color"><%= __('signin_sign')%></p>
            </h1>
            <h1>
              <p class="black_color"><%= __('signin_in')%></p>
            </h1>
          </div>
          <ul>
            <li>
              <input
                type="email"
                name="email"
                id="email"
                class="input--text"
                placeholder="<%= __('signin_email')%>"
              />
            </li>
            <li>
              <input
                type="password"
                name="password"
                id="password"
                class="input--text"
                placeholder="<%= __('signin_pw')%>"
              />
            </li>
          </ul>
          <button
            type="submit"
            id="signin_button"
            name="signin_button"
            class="btn btn-main"
          >
            <%= __('signin_signin')%>
          </button>
          <div class="signin">
            <p style="color: #000; margin-right: 10px">
              <%= __('signin_content1')%>
            </p>
            <a style="color: rgb(124, 19, 154); font-size: 15px" href="signup">
              <%= __('signin_signup')%>
            </a>
          </div>
          <div style="width:100%;margin:10px 0;text-align:center;">
            <a href="/api/auth/kakao" style="display:inline-block;text-align:center;background:#faca15; color:#3f3035; font-size: 15px;text-decoration:none;padding:10px 30px;margin:10px auto;font-weight:700;border-radius:5px;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 191.94" width="22px" height="22px" style="margin-right:10px;"><g><polygon class="cls-1" points="76.01 89.49 87.99 89.49 87.99 89.49 82 72.47 76.01 89.49"></polygon><path class="cls-1" d="M104,0C46.56,0,0,36.71,0,82c0,29.28,19.47,55,48.75,69.48-1.59,5.49-10.24,35.34-10.58,37.69,0,0-.21,1.76.93,2.43a3.14,3.14,0,0,0,2.48.15c3.28-.46,38-24.81,44-29A131.56,131.56,0,0,0,104,164c57.44,0,104-36.71,104-82S161.44,0,104,0ZM52.53,69.27c-.13,11.6.1,23.8-.09,35.22-.06,3.65-2.16,4.74-5,5.78a1.88,1.88,0,0,1-1,.07c-3.25-.64-5.84-1.8-5.92-5.84-.23-11.41.07-23.63-.09-35.23-2.75-.11-6.67.11-9.22,0-3.54-.23-6-2.48-5.85-5.83s1.94-5.76,5.91-5.82c9.38-.14,21-.14,30.38,0,4,.06,5.78,2.48,5.9,5.82s-2.3,5.6-5.83,5.83C59.2,69.38,55.29,69.16,52.53,69.27Zm50.4,40.45a9.24,9.24,0,0,1-3.82.83c-2.5,0-4.41-1-5-2.65l-3-7.78H72.85l-3,7.78c-.58,1.63-2.49,2.65-5,2.65a9.16,9.16,0,0,1-3.81-.83c-1.66-.76-3.25-2.86-1.43-8.52L74,63.42a9,9,0,0,1,8-5.92,9.07,9.07,0,0,1,8,5.93l14.34,37.76C106.17,106.86,104.58,109,102.93,109.72Zm30.32,0H114a5.64,5.64,0,0,1-5.75-5.5V63.5a6.13,6.13,0,0,1,12.25,0V98.75h12.75a5.51,5.51,0,1,1,0,11Zm47-4.52A6,6,0,0,1,169.49,108L155.42,89.37l-2.08,2.08v13.09a6,6,0,0,1-12,0v-41a6,6,0,0,1,12,0V76.4l16.74-16.74a4.64,4.64,0,0,1,3.33-1.34,6.08,6.08,0,0,1,5.9,5.58A4.7,4.7,0,0,1,178,67.55L164.3,81.22l14.77,19.57A6,6,0,0,1,180.22,105.23Z"></path></g></svg>카카오톡 로그인
            </a>
          </div>
        </form>
      <!--div class="right11">
        <section class="section section--visual"></section>
      </div-->
    </div>
  </body>
  <script>
    $(document).ready(function () {
      var email_check =
        /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
      //send sign up data to server
      $('#signin_button')
        .off('click')
        .on('click', function () {
          var email = $('#email').val();
          var password = $('#password').val();

          var swalError = (text) =>
            Swal.fire({
              icon: 'error',
              title: 'Fail',
              text: text,
            });
          if (!email) swalError("<%= __('error_email') %>");
          else if (!password) swalError("<%= __('error_pw') %>");
          else if (email_check.test(email) == false)
            swalError("<%= __('error_info_form') %>");
          else {
            var data = {
              email,
              password,
            };
            $.ajax({
              url: '/api/auth/signin',
              type: 'POST',
              accepts: 'application/json',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function (data) {
                if (data.message == 'success') window.location.href = '/';
              },
              error: function (request, status, error) {
                if (request.status == 401) {
                  Swal.fire({
                    title: '401 ' + "<%= __('error') %>",
                    html: "<h3><%= __('error_signin') %></h3>",
                    icon: 'error',
                  });
                } else {
                  Swal.fire({
                    title: "500 <%= __('error') %>",
                    html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
                    icon: 'error',
                  });
                }
              },
            });
          }
        });
    });
  </script>
</html>
