<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('head') %>
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <title>Document</title>
  </head>
  <body>
    <header style="z-index: 1000"><%- include('partial/navbar') %></header>
    <div class="inner img">
        <p class="lnb_text text-white   "><%= __('logininfo_lnb') %></p>
    </div>
    <div class="inner main sm:px-10 container px-2">
        <div class="grid md:grid-cols-3 w-full md:gap-x-10 md:gap-y-0 gap-y-10 py-20">
            <div class="col-span-1 space-y-10">
                <div class="space-y-4">
                    <h3 class="text-2xl font-bold">계정 설정</h3>
                    <div class="col-span-2 lg:p-10 p-6 text-left border space-y-2 ">
                        <a class="mypageListTitle font-semibold block" href="javascript:void(0);">내창고</a>
                        <a class="mypageListTitle font-semibold block" href="javascript:void(0);">사업자 등록 정보</a>
                        <a class="mypageListTitle font-semibold block" href="javascript:void(0);">회원 탈퇴</a>
                    </div>
                </div>
            </div>
            <div class="md:col-span-2 space-y-4">
                <h3 class="text-2xl font-bold">내 정보</h3>
                <div class="p-7 border rounded-lg md:space-y-0 md:space-x-10 space-y-5 grid md:grid-cols-4">
                    <div class="profile_img">
                        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-block mx-auto bg-dark rounded-circle max-w-full h-auto">
                            <path d="M100 100C118.417 100 133.333 85.0833 133.333 66.6667C133.333 48.25 118.417 33.3333 100 33.3333C81.5833 33.3333 66.6667 48.25 66.6667 66.6667C66.6667 85.0833 81.5833 100 100 100ZM100 116.667C77.75 116.667 33.3333 127.833 33.3333 150V166.667H166.667V150C166.667 127.833 122.25 116.667 100 116.667Z" fill="#fff"/>
                        </svg>
                    </div>
                    <div class="md:col-span-3 p-4 space-y-10">
                        <div class="space-y-4">
                            <div class="space-y-1">
                                <h4 class="text-base font-bold">이름</h4>
                                <p class="text-sm">홍길동</p>
                            </div>
                            <div class="space-y-1">
                                <h4 class="text-base font-bold">이메일</h4>
                                <p class="text-sm">abc@abc.com</p>
                            </div>
                            <div class="space-y-1">
                                <h4 class="text-base font-bold">휴대폰번호</h4>
                                <p class="text-sm">010-1234-5678</p>
                            </div>
                            <div class="space-y-1">
                                <h4 class="text-base font-bold">가입명</h4>
                                <p class="text-sm">(주)홍길동</p>
                            </div>
                        </div>
                        <button class="bg-gray-500 text-white px-4 py-2 rounded text-sm" type="button">변경하기</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer><%- include('partial/footer') %></footer>
  </body>
</html>