<!DOCTYPE html>
<html lang="<%= __('locale') %>">
    <head>
        <meta charset="UTF-8" />
        <%- include('head') %>
        <link href="/dist/output.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/mypage.css" />
        <title>Document</title>
    </head>
    <body>
        <header style="z-index: 1000"><%- include('partial/navbar') %></header>
        <div class="inner img">
            <p class="lnb_text text-white   "><%= __('payment_lnb') %></p>
        </div>
        <div class="inner main sm:px-10 container px-2">
            <div class="grid md:grid-cols-3 w-full md:gap-x-10 md:gap-y-0 gap-y-10 py-20">
                <div class="col-span-1 space-y-10">
                    <div class="profile_img">
                        <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg" class="d-block mx-auto bg-dark rounded-circle">
                            <path d="M100 100C118.417 100 133.333 85.0833 133.333 66.6667C133.333 48.25 118.417 33.3333 100 33.3333C81.5833 33.3333 66.6667 48.25 66.6667 66.6667C66.6667 85.0833 81.5833 100 100 100ZM100 116.667C77.75 116.667 33.3333 127.833 33.3333 150V166.667H166.667V150C166.667 127.833 122.25 116.667 100 116.667Z" fill="#fff"/>
                        </svg>
                    </div>
                    <div class="text-center space-y-4">
                        <h3 class="text-2xl font-bold">안녕하세요 <%= name %>님</h3>
                        <button class="bg-slate-300 text-black px-3 py-2 rounded-[40px] text-sm min-w-[200px]" onclick="location.href='/myinfo'" ><%= __('my_info_manage')%></button>
                        <div class="col-span-2 lg:p-10 text-left">
                            <%- include('partial/leftmenu') %>
                        </div>
                    </div>
                    <script>
                        $('.myContainer').click(function(){
                            $(this).children('svg').toggleClass('rotate-180');
                            $(this).next('.myConList').slideToggle();
                        });
                    </script>
                </div>
                <div class="md:col-span-2 space-y-10">
                    <div class="lg:flex lg:space-x-2 items-stretch lg:space-y-0 space-y-2">
                        <select class="border px-3 py-1 text-gray-400 rounded">
                            <option value="">전체</option>
                            <option value="">카드</option>
                            <option value="">계좌이체</option>
                        </select>
                        <div class="flex items-center sm:space-x-2">
                            <input type="date" class="border px-3 py-1 text-gray-400 rounded flex-auto" />
                            <p class="text-gray-400 flex-1 text-center">~</p>
                            <input type="date" class="border px-3 py-1 text-gray-400 rounded flex-auto" />
                        </div>
                        <div class="flex items-stretch space-x-2">
                            <select class="border px-3 py-1 text-gray-400 rounded">
                                <option value="">5개</option>
                                <option value="">4개</option>
                                <option value="">3개</option>
                            </select>
                            <button class="rounded border px-3 py-1 text-gray-400 hover:bg-gray-500 hover:text-white hover:border-gray-500" type="button">검색</button>
                        </div>
                    </div>
                    <!--
                    <div class="p-10 flex border justify-center items-center h-[600px] rounded-lg">
                        <p class="text-base">요청한 창고가 없습니다.</p>
                    </div>
                    -->
                    <div class="p-7 border min-h-[600px] rounded-lg space-y-5">
                        <div class="border p-4 sm:flex items-start sm:space-x-4 sm:space-y-0 space-y-4 hover:text-[#2c2c2c]">
                            <p class="font-bold px-10">결제</p>
                            <div class="space-y-5 flex-1">
                                <div class="space-y-3">
                                    <p class="text-sm">2022-11-24</p>
                                    <p class="text-sm">#012345 (창고 등록번호)</p>
                                </div>
                                <div class="flex justify-between items-center">
                                    <h4 class="text-xl font-semibold">창고명</h4>
                                    <p class="text-base">금액 000,000원</p>
                                </div>
                            </div>
                        </div>
                        <div class="border p-4 sm:flex items-start sm:space-x-4 sm:space-y-0 space-y-4 hover:text-[#2c2c2c]">
                            <p class="font-bold px-10">결제</p>
                            <div class="space-y-5 flex-1">
                                <div class="space-y-3">
                                    <p class="text-sm">2022-11-24</p>
                                    <p class="text-sm">#012345 (창고 등록번호)</p>
                                </div>
                                <div class="flex justify-between items-center">
                                    <h4 class="text-xl font-semibold">창고명</h4>
                                    <p class="text-base">금액 000,000원</p>
                                </div>
                            </div>
                        </div>
                        <div class="border p-4 sm:flex items-start sm:space-x-4 sm:space-y-0 space-y-4 hover:text-[#2c2c2c]">
                            <p class="font-bold px-10">결제</p>
                            <div class="space-y-5 flex-1">
                                <div class="space-y-3">
                                    <p class="text-sm">2022-11-24</p>
                                    <p class="text-sm">#012345 (창고 등록번호)</p>
                                </div>
                                <div class="flex justify-between items-center">
                                    <h4 class="text-xl font-semibold">창고명</h4>
                                    <p class="text-base">금액 000,000원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer><%- include('partial/footer') %></footer>
    </body>
</html>
