<!DOCTYPE html>
<html lang="<%= __('locale') %>">
    <head>
        <meta charset="UTF-8" />
        <%- include('head') %>
        <link href="/dist/output.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/mypage.css" />
        <title>Document</title>
    </head>
    <body>
        <header style="z-index: 1000"><%- include('partial/navbar') %></header>
        <div class="inner img">
            <p class="lnb_text text-white   "><%= __('waredetail_lnb') %></p>
        </div>
        <div class="inner main sm:px-10 container px-2">
            <div class="grid lg:grid-cols-3 py-20 lg:gap-x-10 gap-y-10">
                <div class="grid md:grid-cols-2 lg:col-span-2 md:gap-x-10 gap-y-10 items-start">
                    <div class="md:col-span-2">
                        <p class="font-semibold">요청 정보</p>
                    </div>
                    <div class="swiper-container relative overflow-hidden w-full">
                        <div class="swiper bigswiper " style="--swiper-navigation-color:#000; --swiper-pagination-color:#000;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div thumbsSlider="" class="swiper thumbswiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                                <div class="swiper-slide">
                                    <img src="/image/default-image_43.png">
                                </div>
                            </div>
                        </div>
                        <script>
                            var swiper = new Swiper(".thumbswiper", {
                                spaceBetween: 10,
                                slidesPerView: 3,
                                freeMode: true,
                                watchSlidesProgress: true,
                            });
                            var swiper2 = new Swiper(".bigswiper", {
                                spaceBetween: 10,
                                navigation: {
                                    nextEl: ".swiper-button-next",
                                    prevEl: ".swiper-button-prev",
                                },
                                thumbs: {
                                    swiper: swiper,
                                },
                            });
                        </script>
                    </div>
                    <div class="border p-10 space-y-10 flex justify-center items-center flex-col">
                        <div class="sm:flex items-center sm:space-x-3 sm:space-y-0 space-y-3">
                            
                                <% if(contract_info.c_state_id == 1) {%><!--승인대기중-->
                                    <span class="bg-slate-300 text-white px-3 py-1 rounded-xl text-xs"><%= __('badge_pending_approval') %></span>
                                <% } else if(contract_info.c_state_id == 2) { %> <!--결제대기중-->
                                    <span class="bg-slate-300 text-white px-3 py-1 rounded-xl text-xs"><%= __('badge_pending_payment') %></span>
                                <% } else if(contract_info.c_state_id == 3) {%> <!--계약완료-->
                                    <span class="bg-slate-300 text-white px-3 py-1 rounded-xl text-xs"><%= __('badge_approved') %></span>
                                <% } else if(contract_info.c_state_id == 4) {%> <!--계약거절-->
                                    <span class="bg-slate-300 text-white px-3 py-1 rounded-xl text-xs"><%= __('badge_reject') %></span>
                                <% } else if(contract_info.c_state_id == 5) { %><!--계약완료-->
                                    <span class="bg-slate-300 text-white px-3 py-1 rounded-xl text-xs"><%= __('badge_expired') %></span>
                                <% } %>
                            <p class="text-base">#<%= contract_info.l_contract_id%></p>
                        </div>
                        <div class="grid grid-cols-2 gap-y-2 w-full">
                            <p class="text-center font-semibold text-base">요청일</p>
                            <p class="text-center text-base"><%= contract_info.start_date%></p>
                            <p class="text-center font-semibold text-base">계약 시작일</p>
                            <p class="text-center text-base"><%= contract_info.start_date%></p>
                            <p class="text-center font-semibold text-base">계약 종료일</p>
                            <p class="text-center text-base"><%= contract_info.end_date%></p>
                            <p class="text-center font-semibold text-base">계약 면적</p>
                            <p class="text-center text-base"><%= contract_info.req_area%>㎡</p>
                            <p class="text-center font-semibold text-base">임대료</p>
                            <p class="text-center text-base"><%= warehouse.rent%><%= __('cost_unit')%> ㎡/<%= __('warehousedetail_day')%></p>
                            <p class="text-center font-semibold text-base">계약 금액</p>
                            <p class="text-center text-base"><%= contract_info.total_cost%> 원</p>
                        </div>
                    </div>
                </div>
                <div class="space-y-10">
                    <div class="">
                        <p class="font-semibold">창고주 정보</p>
                    </div>
                    <div class="border p-10 space-y-10 flex justify-center items-center flex-col">
                        <div class="grid grid-cols-2 gap-y-2 w-full">
                            <p class="text-center font-semibold text-base">창고주명</p>
                            <p class="text-center text-base"><%= user.name%></p>
                            <!--p class="text-center font-semibold text-base">소속</p>
                            <p class="text-center text-base">(주)홍길동</p-->
                            <p class="text-center font-semibold text-base">이메일</p>
                            <p class="text-center text-base"><%= user.email%></p>
                            <p class="text-center font-semibold text-base">휴대전화</p>
                            <p class="text-center text-base"><%= user.phone%></p>
                            <p class="text-center font-semibold text-base">입력사항</p>
                            <input class="text-center border text-base" placeholder="기타 사항을 입력해주세요" value="" id="" name="" readonly />
                        </div>
                    </div>
                        <div class="flex justify-between">
                            <div class="flex">
                                <p class="text-xl bg-[#d9d9d9] text-black py-2 px-5 border rounded border-[#BFBFBF]">요청 처리</p>
                                <select  id= "c_status" class="border rounded-r border-[#BFBFBF] text-xl !border-l-0 py-2 px-5">
                                    <option class="btn2 btn-submit" value="adminApproval/<%= contract_info.l_contract_id%>"">
                                        계약요청
                                    </option>
                                    <option class="btn2 btn-reject" value="adminReject/<%= contract_info.l_contract_id%>" >
                                        계약거절
                                    </option>
                                    <option class="btn2 btn-reject" value="adminCompletion/<%= contract_info.l_contract_id%>" >
                                        계약완료
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="bg-[#7C139A] text-white px-5 py-2 rounded" onclick="checkdir();">저장</button>
                        </div>
                        

                        <!--button class="btn2 btn-submit" onclick="adminCompletion('<%= contract_info.l_contract_id%>')">
                        뒤로가기
                        </button-->
                </div>

                <div class="lg:col-span-3 space-y-10">
                    <div class="flex space-x-4 items-center">
                        <p class="font-semibold">창고 정보</p>
                        <button class="h-10 bg-gray-500 text-white px-4 rounded text-sm" type="button">자세히</button>
                    </div>
                    <div class="p-10 border flex justify-center items-center">
                        <div class="grid lg:grid-cols-2 w-full lg:gap-y-0 gap-y-5">
                            <div class="grid grid-cols-2 justify-center text-base gap-x-5 gap-y-5 text-center">
                                <p class="font-semibold text-base">창고명</p>
                                <p class="text-base"><%= warehouse.name%></p>
                                <p class="font-semibold text-base">창고종류</p>
                                <p class="text-base"><%= warehouse.category%></p>
                                <p class="font-semibold text-base">주소</p>
                                <p class="text-base"><%= warehouse.address1%> <%= warehouse.address2%></p>
                                <p class="font-semibold text-base">대지면적</p>
                                <p class="text-base"><%= warehouse.land_area%>㎡</p>
                                <p class="font-semibold text-base">연면적</p>
                                <p class="text-base"><%= warehouse.total_ground_area%>㎡</p>
                                <p class="font-semibold text-base">공용면적</p>
                                <p class="text-base"><%= warehouse.common_area%>㎡</p>
                                <p class="font-semibold text-base">전용면적</p>
                                <p class="text-base"><%= warehouse.dedicated_area%>㎡</p>
                            </div>
                            <div class="grid grid-cols-2 justify-center text-base gap-x-5 gap-y-5 text-center items-center">
                                <p class="font-semibold text-base">창고소개</p>
                                <p class="text-base"><%= warehouse.description%></p>
                            </div>
                        </div>
                        <!--
                        <table class="w-full">
                            <tr>
                                <th class="py-2 px-4">창고명</th>
                                <td class="py-2 px-4">창고 이름</td>
                                <td class="py-2 px-4" rowspan="7">창고 소개</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">창고종류</th>
                                <td class="py-2 px-4">일반창고</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">주소</th>
                                <td class="py-2 px-4">창고 주소</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">대지면적</th>
                                <td class="py-2 px-4">1㎡</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">연면적</th>
                                <td class="py-2 px-4">1㎡</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">공용면적</th>
                                <td class="py-2 px-4">1㎡</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                            <tr>
                                <th class="py-2 px-4">전용면적</th>
                                <td class="py-2 px-4">1㎡</td>
                                <td class="py-2 px-4">깨끗한 (주)홍길동 창고입니다.</td>
                            </tr>
                        </table>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <footer><%- include('partial/footer') %></footer>
    </body>
</html>
<script>

    checkdir = (checkvalue)=>{

        

       var value = $('#c_status').val();
       var value2 = value.split("/");

       if(value2[0]== "adminApproval"){
        adminApproval(value2[1]);
       }else if(value2[0]== "adminReject"){
        adminReject(value2[1]);
       }else if(value2[0]== "adminCompletion") {
        adminCompletion(value2[1]);
       }
        
    }

    adminApproval= (item_id)=>{
    let formdata ={"c_state_id": 2 } // 계약을 결제 대기중 상태로 변경
   $.ajax({
      url: '/api/contract/'+item_id,
      type: 'PUT',
      data: JSON.stringify(formdata),
      accepts: 'application/json',
      contentType: 'application/json; charset=utf-8',
      success: function (data) {
        Swal.fire({
          title: 'SUCCESS',
          html: `계약 승인을 성공적으로 완료하였습니다.`,
          icon: 'success',
        }).then(() => {
          location.reload();
        });
      },
      error: function (e) {
          console.log("ERROR : ", e);
      }
    })
    
  }
  adminCompletion= (item_id)=>{
    let formdata ={"c_state_id": 3} // 계약을 완료 상태로 변경
    $.ajax({
      url: '/api/contract/'+item_id,
      type: 'PUT',
      data: JSON.stringify(formdata),
      accepts: 'application/json',
      contentType: 'application/json; charset=utf-8',
      success: function (data) {
        Swal.fire({
          title: 'SUCCESS',
          html: `계약을 성공적으로 완료하였습니다.`,
          icon: 'success',
        }).then(() => {
          location.reload();
        });
      },
      error: function (e) {
          console.log("ERROR : ", e);
      }
    })

  }
  adminReject= (item_id)=>{
    let formdata ={"c_state_id": 4} // 계약을 거절 상태로 변경
    $.ajax({
      url: '/api/contract/' + item_id,
      type: 'PUT',
      data: JSON.stringify(formdata),
      accepts: 'application/json',
      contentType: 'application/json; charset=utf-8',
      success: function (data) {
        Swal.fire({
          title: 'WARNING',
          html: `계약을 거절하였습니다.`,
          icon: 'warning',
        }).then(() => {
          location.reload();
        });
      },
      error: function (e) {
          console.log("ERROR : ", e);
      }
    })

  }


</script>