<div class="" id="contract-card">
  <div class="card-body space-y-7">
    <div class="sm:flex justify-between items-center">
      <div class="flex space-x-2">
        <span id="wh-detail-contract-card-title" class="text-3xl"><%= __('warehousedetail_contract_total')%></span>
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.6667 6.99999V9.82333C25.6667 11.6667 24.5001 12.8333 22.6567 12.8333H18.6667V4.67833C18.6667 3.38333 19.7284 2.33333 21.0234 2.33333C22.2951 2.34499 23.4617 2.85833 24.3017 3.69833C25.1417 4.54999 25.6667 5.71666 25.6667 6.99999Z" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.33325 8.16666V24.5C2.33325 25.4683 3.42992 26.0167 4.19992 25.4333L6.19492 23.94C6.66159 23.59 7.31492 23.6367 7.73492 24.0567L9.67158 26.005C10.1266 26.46 10.8733 26.46 11.3283 26.005L13.2883 24.045C13.6966 23.6367 14.3499 23.59 14.8049 23.94L16.7999 25.4333C17.5699 26.005 18.6666 25.4567 18.6666 24.5V4.66666C18.6666 3.38333 19.7166 2.33333 20.9999 2.33333H8.16659H6.99992C3.49992 2.33333 2.33325 4.42166 2.33325 6.99999V8.16666Z" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.5 15.1783H14" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.5 10.5117H14" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.99487 15.1667H7.00535" stroke="#222222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.99487 10.5H7.00535" stroke="#222222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <span id="wh-detail-contract-card-price" class="text-4xl">0</span>
    </div>

    <div class="contract-card-element space-y-2">
      <p class="text-[#7C139A] text-base font-bold"><%= __('warehousedetail_contract_pick_date')%></p>
      <div class="flex justify-between items-center flex-wrap">
        <input
          id="info-card-start-date"
          type="date"
          class="input-contract-info border-b border-[#666] px-6 !py-4 text-base flex-1"
          value="<%= lease_info.start_date%>"
        />
        <!--<img id="info-card-arrow" src="/image/icon/arrow-right-solid.svg" />-->
        <span class="">~</span>
        <input
          id="info-card-end-date"
          type="date"
          class="input-contract-info border-b border-[#666] px-6 !py-4 text-base flex-1"
          value="<%= lease_info.end_date%>"
        />
      </div>
    </div>

    <div class="contract-card-element">
      <div class="space-y-4">
        <p id="available_area" class="text-[#7C139A] text-base font-bold">
          <%= __('warehousedetail_contract_pick_area')%> (<%= __('warehousedetail_contract_area_unit')%>)
        </p>
        <div class="flex">
          <input
            id="info-card-area-for-contract"
            class="border-b border-[#666] px-6 !py-4 text-base placeholder:text-[#666] w-full placeholder:text-center"
            type="number"
            placeholder="<%= __('warehousedetail_contract_max')%> <%=
            lease_info.available_area%>"
            class="input-contract-info"
            min="0"
            value="<%= lease_info.selected_area%>"
          />
        </div>
      </div>
    </div>

    <div class="contract-card-element space-y-3">
      <p class="submit-footer text-sm"><%= __('warehousedetail_contract_note')%></p>
      <button
        id="contract-submit"
        class="btn block mx-auto w-full text-base rounded-full bg-[#7C139A]"
        onclick="toEstimateDetail()"
      >
        <%= __('warehousedetail_check_contract')%>
      </button>
    </div>
  </div>
</div>

<script>
  $(document).ready(check_and_calc_total_cost);

  let total_cost_value = 0;
  let available_area_value;
  const input_start = document.getElementById('info-card-start-date');
  const input_end = document.getElementById('info-card-end-date');
  const input_area = document.getElementById('info-card-area-for-contract');
  const total_cost = document.getElementById('wh-detail-contract-card-price');
  const available_area = document.getElementById('available_area');

  input_start.addEventListener('change', check_and_calc_total_cost);
  input_end.addEventListener('change', check_and_calc_total_cost);
  input_area.addEventListener('change', check_and_calc_total_cost);

  function check_and_calc_total_cost() {
    // 기간 + 임대 공간에 따른 비용 계산
    if (input_start.value != '' && input_end.value != '') {
      if (input_start.value > input_end.value) {
        input_end.value = input_start.value;
      }
      //선택된 날짜에 사용가능한 공간 구하기
      $.ajax({
        url:
          '/api/warehouse/<%= warehouse.warehouse_id%>/available?startDate=' +
          input_start.value +
          '&endDate=' +
          input_end.value,
        type: 'GET',
        datatype: 'application/json',
        success: (data) => {
          if (data.available_area > 0) {
            available_area_value = data.available_area;
            available_area.innerText =
              "<%= __('warehousedetail_contract_max')%>" +
              available_area_value +
              "<%=__('warehousedetail_contract_area_unit')%>";
          } else {
            available_area.innerText =
              '선택된 기간에 사용 가능한 공간이 없습니다.';
          }

          //희망하는 사용공간이 입력된 상태인 경우
          if (input_area.value != '') {
            //희망하는 사용공간이 사용가능한 공간보다 클경우 자동으로 조정해주기
            if (input_area.value > available_area_value) {
              input_area.value = available_area_value;
            }
            //예상금액 계산
            total_cost_value =
              toElapsedDay(
                new Date(input_end.value) - new Date(input_start.value)
              ) *
              input_area.value *
              parseInt('<%= warehouse.rent%>');
            total_cost.innerText =
              total_cost_value.toLocaleString(total_cost_value) +
              "<%= __('warehousedetail_contract_monetary_unit')%>";
          } else {
            //희망 사용공간이 입력되지 않은 경우
            total_cost.innerText = '-';
          }
        },
        error: (e) => {
          console.log(e);
        },
      });
    } else {
      //기간이 선택되지 않은 경우
      total_cost.innerText = '-';
    }
  }

  const toElapsedDay = (elapsed_time) => {
    return elapsed_time / 1000 / 60 / 60 / 24 + 1;
  };

  function toEstimateDetail() {
    if (
      input_start.value != '' &&
      input_end.value != '' &&
      input_area.value != ''
    ) {
      location.href =
        '/contract/request?warehouse_id=<%=warehouse.warehouse_id%>' +
        '&start_date=' +
        input_start.value +
        '&end_date=' +
        input_end.value +
        '&req_area=' +
        input_area.value +
        '&available_area=' +
        available_area_value +
        '&total_cost=' +
        total_cost_value;
    } else {
      Swal.fire({
        title: "<%= __('error') %>",
        html: "<%= __('error_estimate') %>",
        icon: 'error',
      });
    }
  }
</script>
